*{
	margin:0;
	padding:0;
}
body{
	width:auto;
	background-image: url("../images/bg1.jpg");
	font-family: 'Lato', sans-serif;
	background-color: #cccccc;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.leave-body{
	
}

.leave-body-left{
	width:45%;
	float: left;
}

.leave-body-left img{
	width:250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top:110px;
}

.leave-body-right{
	width:45%;
	float: left;
	text-align:right;
	padding-top:120px;
	overflow:hidden;
}

.leave-body-right img{
	padding-bottom:40px;
}
.leave-body-right h2{
	padding-bottom:30px;
}
.leave-body-right p{
	padding-bottom:30px;
	font-size: 18px;
	line-height: 27px;
	overflow:hidden;
}

#contact-email{
	background:#000;
	padding:5px;
	color:#fff;
	width: 500px;
	margin-left:100px;
	text-align: center;
}

#contact-email a{
	color:#fff;
}

.leave-body-right ul{
	list-style:none;
	overflow:hidden;
	padding:30px 0px 30px 205px
}
.leave-body-right ul li{
	float:left;
}
.leave-body-right ul li a{
	padding:0 20px;
	height:auto;
}

.leave-body-right ul li:last-child a{
	padding-right:0px;
}

.reg-body{
	width:100%;
	text-align:center;
}

.reg-body img{
	margin-top:-40px;
}

.reg-body h4{
	margin-top:20px;
}

.reg-parents{
	width:100%;
	margin:auto;
	float:center;
	text-align:center;
}

.reg-form{
	width:400px;
	margin:auto;
	background-image: linear-gradient(to bottom, #1C2833, #ABB2B9);
	padding:25px 50px 100px 50px;
	color:#fff;
	font-size: 22px;
	line-height: 40px;
}

.reg-form h5{
	text-align:center;
	padding-bottom:15px;
}

.reg-form-input{
	border:0;
	border-bottom: 1px solid #999;
	width:250px;
	height:25px;
	padding: 0px 0px 0px 10px;
	outline:none;
	background:transparent;
	color:#fff;
	font-size: 18px;
}

.reg-form-input::placeholder{
	color:#fff;
	font-weight:300;
	font-size:16px;
	opacity:.5;
}
.reg-btn{
	float:right;
	color:#fff;
	font-size:16px;
	padding:10px 20px;
	border:1px solid #999;
	border-radius: 25px;
	margin:30px 0px;
	background-image: linear-gradient(to right, #9B59B6, #E67E22);
}

#login-driver{
	margin:-75px;
	padding:0;
	text-align:center;
	font-weight:700;
	font-size:16px;
}









